@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


body {
/*   text-transform: lowercase; */
  background: #edeafd;
  margin: 140px 20px 120px 20px;
  padding: 0;
  color: #9d71da;
  text-align: center;
  font-size: 1.2em;
}

footer {
  font-size: 0.8em;
}

a {
  color: #603a94;
  text-decoration: none;
}

a:visited {
  color: #b0962b;
}
