body {
  font-family: futura, helvetica, arial, sans-serif;
/*   background: #edeafd; */
  margin: 0;
  padding: 0;
  color: #9d71da;
  text-align: center;
  font-size: 1.3em;
}

footer {
  font-size: 0.8em;
}

a {
  color: #603a94;
  text-decoration: none;
}

a:visited {
  color: #b0962b;
}
